@{
    ViewData["Title"] = "About";
}


<section class="about-area mt-del">
    <div class="container-fluid">
        <div class="row fullscreen">
            <div class="col-12">
                <h4>Who should visit Dubai?</h4>
            </div>

            <div class="col-md-5">
                <p class="text-justify">
                   Any one who wants to enjoy constant sunshine, stunning coastline, and vast deserts, among others natural and artificial wonders
                </p>
                <p class="text-justify">
                    The city is solo traveller-friendly as much as it is family-friendly, you can also check about different Dubai Holidays from our explorer page. Also, the municipality is very strict with regards to community regulations, especially with food handlers’ hygiene and overall food safety. So you’re all good!
                </p>
            </div>
            <div class="col-md-7">
                <div class="minni-carousel  owl-carousel owl-theme">
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/images/img/dubai/desert1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Desert Safaris.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/images/img/dubai/desert2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Desert Camping.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/images/img/dubai/location1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Iconic &Aacute; Unique locationa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/images/img/dubai/beach1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Beach Kitting.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

