@{
    ViewData["Title"] = "Home Page";
}

<!-- start banner Area -->
<section class="banner-area">
    <div class="container-fluid">
        <div class="row fullscreen">
            <div class="main-carousel  owl-carousel owl-theme">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            ertetretretertret
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            wertrwegwre
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            qertqtregth34524t
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            twregthwhtegrwtgr
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            wrtwergt45555252
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            1`23435453fdsgdbvdf
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            twregthwhtegrwtgr
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            wrtwergt45555252
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 banner-left">
                            <h6 class="text-white">Away from monotonous life</h6>
                            <h1 class="text-white">Magical Travel</h1>
                            <p class="text-white">
                                Find Adventure In Dubai
                            </p>
                            <a href="#" class="primary-btn text-uppercase">Get Started</a>
                        </div>
                        <div class="col-lg-4 col-md-6 banner-right">
                            1`23435453fdsgdbvdf
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

@section Scripts
    {
    <script>
        $(document).ready(function () {

            var window_width = $(window).width(),
                window_height = window.innerHeight,
                header_height = $(".default-header").height(),
                header_height_static = $(".site-header.static").outerHeight(),
                fitscreen = window_height - header_height;

            $(".main-carousel .item").css("height", window_height);

            $('.main-carousel .item').eq(0).css('background-image', 'url(images/img/dubai/Dubai-5.jpg)');
            $('.main-carousel .item').eq(1).css('background-image', 'url(images/img/dubai/Dubai-6.jpg)');
            $('.main-carousel .item').eq(2).css('background-image', 'url(images/img/dubai/Dubai-9.jpg)');
            $('.main-carousel .item').eq(3).css('background-image', 'url(images/img/dubai/Dubai-1.jpg)');
            $('.main-carousel .item').eq(4).css('background-image', 'url(images/img/dubai/Dubai-2.jpg)');
            $('.main-carousel .item').eq(5).css('background-image', 'url(images/img/dubai/Dubai-7.jpg)');
            $('.main-carousel .item').eq(6).css('background-image', 'url(images/img/dubai/Dubai-8.jpg)');
            $('.main-carousel .item').eq(7).css('background-image', 'url(images/img/dubai/Dubai-3.jpg)');
            $('.main-carousel .item').eq(6).css('border', '3px solid green');
        });
    </script>
}